@{
    ViewBag.Title = "Contato";
}
<div class="row">
    <div class="col-lg-6"><br /><br /><br />
        <h2>Localização e horário</h2>
        <h5>
            Av. Francisco Manoel - Vila Mathias, Santos - SP,
            Santos  -  São Paulo  -  CEP 11045-300
            Aberta de Terça à Domingo, das 18h às 24h
            Para reservas ligue (xx) xxxx xxxx
        </h5>
       
    <h4 style="font-weight:bold;color:#860a0a">Entre em Contato:</h4>
        <div class="form-group">
            <label for="exampleFormControlInput1">Endereço de email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
        </div>
        <div class="form-group">
            <label for="formControlRange">Classificação de satisfação do cliente</label><br />
            0 <input type="range" class="form-control-range" id="formControlRange"> 10
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Deixe nos uma mensagem:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
       <button style="margin-left:216px" class="btn btn-primary">Enviar</button>
        <p>Muito Obrigado</p>
    </div>

    <div class="col-lg-6">
        <br /><br /><br /> <h2>Localização</h2><br /><br />
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14585.92282330367!2d-46.331882!3d-23.943436!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6f43dba55e64599!2sUnip+Santos+-+Campus+II+-+Rangel!5e0!3m2!1spt-BR!2sbr!4v1541637061247" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

        <center><p>Mais comodidade aos nossos clientes.</p></center>
    </div>
</div>